body {
	margin-top: 75px;
}

nav.nav-inq { background: #fff; border-color: #ccc; box-shadow: 0 0 2px 0 #ccc; }
nav.nav-inq a { color: #6F5499; }
nav.nav-inq ul.navbar-nav a { color: #6F5499; border-style: solid; border-width: 0 0 2px 0; border-color: #fff; }
nav.nav-inq ul.navbar-nav a:hover,
nav.nav-inq ul.navbar-nav a:visited,
nav.nav-inq ul.navbar-nav a:focus,
nav.nav-inq ul.navbar-nav a:active { background: #fff; }
nav.nav-inq ul.navbar-nav a:hover { border-color: #6F5499; }
nav.nav-inq li.divider { background: #ccc; }
nav.nav-inq button.navbar-toggle { background: #6F5499; border-radius: 2px; }
nav.nav-inq button.navbar-toggle:hover { background: #999; }
nav.nav-inq button.navbar-toggle > span.icon-bar { background: #fff; }
nav.nav-inq ul.dropdown-menu { border: 0; background: #fff; border-radius: 4px; margin: 4px 0; box-shadow: 0 0 4px 0 #ccc; }
nav.nav-inq ul.dropdown-menu > li > a { color: #444; }
nav.nav-inq ul.dropdown-menu > li > a:hover { background: #6F5499; color: #fff; }
nav.nav-inq span.badge { background: #6F5499; font-weight: normal; font-size: 11px; margin: 0 4px; }
nav.nav-inq span.badge.new { background: rgba(255, 0, 0, 0.8); color: #fff; }

.btn.btn-long {
	border-radius: 50px;
	padding-right: 20px;
	padding-left: 20px;
	background-color: #6F5499;;
	color: #ffffff;
}

.hide {
	visibility: hidden;
}

.muted {
	opacity: 0.7;
}

input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea {
	border: none;
	border-bottom: 1px solid #e1e1e1;
	border-radius: 0;
	box-shadow: none;
	outline: none;
	background: transparent;

	height: 3rem;
	line-height: 100%;
	width: 100%;
	padding: 0;
	transition: all .3s;
}
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=url]:focus, input[type=time]:focus, input[type=date]:focus, input[type=datetime-local]:focus, input[type=tel]:focus, input[type=number]:focus, input[type=search]:focus, textarea:focus {
	border-bottom: 2px solid #6F5499;
	box-shadow: 0 1px 0 0 #6F5499;
	
	box-shadow: none;
}

.muted {
	opacity: 0.7;
}

.form-view .panel-heading, .form-view .panel-heading a {
	color: #ffffff;
}

.provider_url {
	font-size: 0.9em;
	margin-left: 1em;
}

.embed-loading {
	text-align: center;
}

.embed-loading > .fa {
	font-size: 3em;
}
