<div class="container">
	<div class="row">
		<ul class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2" style="list-style-type: none;">
			<li><h4 class="pull-left">Embedded posts coming up!</h4></li>
			<li>{{#link-to 'm-posts.create' tagName="button" class="btn navbar-btn btn-long pull-right"}}Create{{/link-to}}</li>
		</ul>
	</div>

	
	<div class="row">

		{{#each model as |m-post|}}
			<div class="panel panel-default">
				<div class="panel-heading clearfix">
					<span class="pull-right">
						<a href="{{m-post.url}}">Permalink</a>
					</span>
					<span class="pull-left">
						{{m-post.author}}
					</span>
				</div>

				<div class="panel-body">
					{{#each post.embed as |embed|}}
						{{embed.title}}
					{{/each}}
				</div>
			</div>
		{{/each}}
	</div>
</div>