<nav>
  <ul>
  	<li>{{#link-to "index"}}Home{{/link-to}}</li>
  	<li>{{#link-to "feed"}}Newsfeed{{/link-to}}</li>
  	<li>{{#link-to "posts"}}Posts{{/link-to}}</li>
  	<li>{{#link-to "login"}}Login{{/link-to}}</li>
  </ul>
</nav>

<main>
	{{outlet}}
</main>
